@charset "UTF-8";

/* ========BASIC======== */
html {
    overflow-y:scroll;
}

body {
	margin:auto;
	padding:0;
    line-height:1.6;
    letter-spacing:1px;
    font-family:"Hiragino Kaku Gothic Pro",HiraKakugoyro-W3,"ヒラギノ角ゴ Pro W3","メイリオ", Meiryo,"ＭＳ Ｐゴシック",verdana,sans-serif;
    font-size:30px;
    background:linear-gradient(#ffffff, #bfffde )fixed;;
    word-wrap: break-word;
}

select{
font-size:30px;
border:1px;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.prev-btn {
	margin-bottom:10px;
	padding:2px 2px;
	border: 1px solid #58FAAC;
	background-color: #01DFA5;
	background-image: -webkit-linear-gradient(top, #01DFA5, #58FAAC);
	background-image: linear-gradient(to bottom, #01DFA5, #58FAAC);
	border-radius: 4px;
	color: #fff;
	line-height: 50px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	margin-left:40px;
}
.prev-btn:hover {
	border:1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.prev-btn:active {
	background: #1a92c2;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

.userinfo-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #3A01DF;
    color: #FFF;
    font-size:18px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #3A01DF;
    border: dashed 1px #FFF;
    margin-bottom:20px;
    margin-left:40px
}

.userinfo-btn:hover{
	border: dotted 1px #FFF;
}

.login-btn {
	margin-left:35px;
	padding:5px 5px;
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.login-btn:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.login-btn:active {
	top: 3px;
	box-shadow: none;
}

.logout-btn {
	margin-right:35px;
	padding:5px 5px;
	position: relative;
	border-radius: 4px;
	color: #fff;
	line-height: 50px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0px 1px 0px #f56778;
}
.logout-btn,
.logout-btn:hover {
	border-bottom: 4px solid #cb5462;
	background-color: #f56778;
	background-image: -webkit-linear-gradient(top, #f997b0, #f56778);
	background-image: linear-gradient(to bottom, #f997b0, #f56778);
	box-shadow: inset 1px 1px 0 #fbc1d0;
}
.logout-btn::before,
.logout-btn::after {
	bottom: -1px;
	left: -1px;
	width: 200px;
	height: 50px;
	border: 1px solid #ee8090;
	border-bottom: 1px solid #b84d5a;
	border-radius: 4px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
}
.logout-btn::before {
	height: 48px;
	bottom: -4px;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 1px 0px #bfbfbf;
}
.logout-btn:hover {
	background: #f56778;
	background-image: -webkit-linear-gradient(top, #f56778, #f997b0);
	background-image: linear-gradient(to bottom, #f56778, #f997b0);
	color: #913944;
	text-shadow: 0px 1px 0px #f9a0ad;
}
.logout-btn:active {
	bottom: -4px;
	margin-bottom: 4px;
	border: none;
	box-shadow: 1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, .3);
}
.logout-btn:active::before,
.logout-btn:active::after {
	border: none;
	box-shadow: none;
}

.search-btn{
	margin-left:40px;
	font-size: 50px;
    display: inline-block;
    padding:50px 50px;
    text-decoration: none;
    background:  #0174DF;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #0174DF;
    border: dashed 1px #FFF;
}

.search-btn:hover{
	border: dotted 1px #FFF;
}

.status-btn{
	margin-left:40px;
	font-size: 50px;
    display: inline-block;
    padding:50px 50px;
    text-decoration: none;
    background: #00FF40;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #00FF40;
    border: dashed 1px #FFF;
}

.status-btn:hover{
	border: dotted 1px #FFF;
}

.admin-btn{
	margin-left:40px;
	font-size: 50px;
    display: inline-block;
    padding:50px 50px;
    text-decoration: none;
    background:  #DF01D7;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #DF01D7;
    border: dashed 1px #FFF;
}

.admin-btn:hover{
	border: dotted 1px #FFF;
}

.lend-btn{
	margin-left:40px;
	font-size: 50px;
    display: inline-block;
    padding:50px 50px;
    text-decoration: none;
    background: #44affc;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #44affc;
    border: dashed 1px #FFF;
     margin-bottom:20px;
}

.lend-btn:hover{
	border: dotted 1px #FFF;
}

.return-btn{
    display: inline-block;
     padding:50px 50px;
     font-size: 50px;

    text-decoration: none;
    background: #2EFE2E;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #2EFE2E;
    border: dashed 1px #FFF;
    margin-bottom:20px;
}

.return-btn:hover{
	border: dotted 1px #FFF;
}

.register-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #FA5882;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #FA5882;
    border: dashed 1px #FFF;
    margin-bottom:20px;
}

.register-btn:hover{
	border: dotted 1px #FFF;
}

.reservation-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #DF7401;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #DF7401;
    border: dashed 1px #FFF;
    margin-bottom:20px;
}

.reservation-btn:hover{
	border: dotted 1px #FFF;
}



.demand-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #000000;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #000000;
    border: dashed 1px #FFF;
    margin-bottom:20px;
}

.demand-btn:hover{
	border: dotted 1px #FFF;
}

.inquiry-btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #BF00FF;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #BF00FF;
    border: dashed 1px #FFF;
    margin-bottom:20px;
}

.inquiry-btn:hover{
	border: dotted 1px #FFF;
}

.prev{
	margin-left:40px;
}
.errorMessages {
	color:red;
}

.validationMessage {
	color:blue;
}



.update{
	margin-left:10px;
}



input {
font-size: 100%;
}

br {
    letter-spacing:normal;
}

a {
    color:#134D99;
    text-decoration:none;
}

p {
    margin:5px;
}

table {
    font-size:12px;
}

table {
	margin:auto;
    width:800px;
    border-collapse:collapse;
    border:1px solid #999;
    border-spacing:0;
    line-height:1.8;
    text-align:middle;
}

table th {
    width:800px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    background:#EFEBEF;
    font-weight:bold;
    font-size:30px;
    text-align:middle;
}

table td {
    width:600px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    text-align:middle;
    background:#ffffff;
    font-size:30px;
}

table.result{
	margin:auto;
    width:99%;
    border-collapse:collapse;
    border:1px solid #999;
    border-spacing:0;
    line-height:1.8;
    text-align:middle;
    height:x;
    margin-bottom:40px;
}

table.result th {
    width:800px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    background:#EFEBEF;
    font-weight:bold;
    font-size:15px;
    text-align:middle;
}

table.result td {
    width:800px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    text-align:middle;
    background:#ffffff;
    font-size:13px;
}

table.status{
	margin:auto;
    width:800px;
    border-collapse:collapse;
    border:1px solid #999;
    border-spacing:0;
    line-height:1.8;
    text-align:middle;
    height:x;
    margin-bottom:40px;
    font-size:20px;
}

table.status th {
    width:800px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    background:#EFEBEF;
    font-weight:bold;
    font-size:20px;
    text-align:middle;
}

table.status td {
    width:800px;
    border:1px solid #999;
    border-width:0 0 1px 1px;
    text-align:middle;
    background:#ffffff;
    font-size:20px;
}